<!DOCTYPE html>
<html lang="en" >
<head>
 	<meta charset="UTF-8">
	<title>KGnotes</title>
    <link rel="shortcut icon" href= "{{ url_for('static', filename='images/icon.ico') }}"
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/wordCloud.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Boostrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->

    <!-- imports for tagify -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@yaireo/tagify@3.1.0/dist/tagify.css" />
    <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify@3.1.0/dist/tagify.min.js"></script>
    <!-- end of tagify imports -->
</head>
<body>
    {% include "navbar.html" %}



    {% block mainContent %}{% endblock %}



    <footer class="bg-light text-center text-lg-start fixed-bottom">
      <!-- Copyright -->
      <div class="text-center p-1" style="background-color:#1C5D8B">
        © 2020 Copyright:
        <a class="text-dark" target="_blank" href="https://www.digigen.eu/">DigiGen</a>
      </div>
      <!-- Copyright -->
    </footer>

</body>
<script src="{{ url_for('static', filename='js/externaljs/jquery_min.js') }}"></script>
<script src="{{ url_for('static', filename='js/externaljs/jquery_ui.js') }}"></script>
<!--<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>-->
 <!--<script src='https://raw.githubusercontent.com/lucaong/jQCloud/master/jqcloud/jqcloud-1.0.4.js'></script>-->
<link href="{{ url_for('static', filename='css/jquery_ui.css') }}" rel="Stylesheet"></link>
 <!--<script src='https://cdn.rawgit.com/pguso/jquery-plugin-circliful/master/js/jquery.circliful.min.js'></script>-->
<!--<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>-->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="{{ url_for('static', filename='js/wordCloud.js') }}"></script>
<!-- <script src="{{ url_for('static', filename='js/keywords.js') }}"></script> -->
<script src="{{ url_for('static', filename='js/textUtils.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script src="{{ url_for('static', filename='js/videoUtils.js') }}"></script>
<script src="{{ url_for('static', filename='js/search.js') }}"></script>
<script src='https://cdn.rawgit.com/mgalante/jquery.redirect/master/jquery.redirect.js'></script>
</html>
